{% extends 'base.html' %}
{% load static %}
{% block page %}
          <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Linkyoh !</h1>
          <p>With the power of almost 400,000 people that need to find services on a daily basis
              Linkyoh is there to help you find the best recommended and highest quality service providers near you. </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Collecting Experience</h2>
            <p> From automotive specialists ranging to health professionals. With the power in numbers,
                we could help determine the best service provider and get the organic feed back that will help
                future clients, and customers find the perfect services providers.  </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>How we do it</h2>
            <p> Linkyoh relies on its member's experience, reviews and likes that aren’t submitted anonymously.
                Linkyoh members’ information is always kept secure and confidential on Linkyoh.
                Reviews are made available to companies and persons who have been reviews.
                Since there are always two sides to every story, companies can respond to reviews,
                helping to make sure that members get all the information they need to make a hiring
                or contracting decision.
                Additionally, members can only report Linkyoh quality of service once every six months,
                ensuring no one can favor one service provider over another.  </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Our Results</h2>
            <p>Finally, all reviews submitted by members go through a team of Linkyoh collaborators who look for any
                discrepancies or red flags that may affect the hiring or contracting of service providers.
                Any companies that are caught reporting on their own services,  will be reprimanded and those reviews,
                likes and reports are removed from Linkyoh promptly.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
{% endblock %}
{% block scripts %}
{% endblock %}