{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Linkyoh{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">
    <link rel="stylesheet" href="{% static 'css/jumbotron.css' %}">
    {% block head %}{% endblock %}
    <link rel="shortcut icon" href="{% static  'img/favicon_ly.ico' %}">
</head>
<body>
<header class="card-header">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img
                src="{% static 'img/logo_ly.png' %}" alt="" height="23"> Linkyoh</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" hidden>
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link" href="#">Notifications</a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link" href="#">Switch account</a>
                </li>
                <li class="nav-item dropdown" hidden>
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                {% if user and not user.is_anonymous %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" href="#" id="dropdown03"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="


                                    {% if user.profile %}{{ user.profile.avatar }}{% else %} {% static 'img/avatar.png' %}{% endif %}"
                                 alt="" class="img-thumbnail" width="22"
                                 height="22"> &nbsp;
                            {{ user.get_full_name|default:user.username }} <span
                                class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{% url 'create_gig' %}">Create a gig</a>
                            <a class="dropdown-item" href="{% url 'my_gigs' %}">My Gigs</a>
                            <a class="dropdown-item" href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                            <a class="dropdown-item" href="{% url 'profile' user.username %}">My Profile</a>
                            {#                            <a class="dropdown-item" href="#">Action</a>#}
                            {#                            <a class="dropdown-item" href="#">Another action</a>#}
                            {#                            <a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login
                            with Facebook</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" role="search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div id="catMenu" catMenu="{% url 'ajax_load_menu_category' %}">
                <ul class="navbar-nav" id="id_catNav">

                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="body">
    <div class="container">
        {% block page %}
        {% endblock %}
    </div>
</div>


<footer class="card-footer" id="footer">
    <div class="container">
        <span class="text-muted">Linkyoh &copy; {% now "Y" %}</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/offcanvas.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    (function () {
        var url = $("#catMenu").attr("catMenu");

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_catNav").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    })();
</script>
{% block scripts %}{% endblock %}
</body>
</html>