{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Linkyoh{% endblock %}</title>
    <link rel="shortcut icon" href="{% static  'img/37117805_259982264784434_4328101817637404672_n.jpg'%}">
</head>
<body>
<header>
    <p>Header</p>
    {% if user and not user.is_anonymous %}
        Hello {{ user.get_full_name|default:user.username }} !
    {% else %}
        I don't think we've met before
    {% endif %}
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login</a>
    <a href="{% url 'auth:logout'  %}?next={{ request.path }}">Logout</a>

</header>

<hr/>
{% block page %}
{% endblock %}

<footer>
    <p>footer updated</p>
</footer>

</body>
</html>