{% extends 'base.html' %}
{% load staticfiles %}


{% block page %}
    {% if error %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
            </button>
            <strong>Warning !</strong> {{ error }}
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="body">
            <form action="" class="form-horizontal" id="gigForm" method="post" enctype="multipart/form-data"
                  data-locations-url="{% url 'ajax_load_locations' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">GIG TITLE</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="title" id="title" name="title">
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">CATEGORY</label>#}
{#                    <div class="col-sm-10">#}
{#                        <select name="category" class="form-control">#}
{#                            <option value="GD">Graphic & Design</option>#}
{#                            <option value="DM">Digtal & Marketing</option>#}
{#                            <option value="VA">Video & Animation</option>#}
{#                            <option value="MA">Music & Audio</option>#}
{#                            <option value="PT">Programming & Tech</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group" id="catForm" urlz="{% url 'ajax_load_category' %}">
                    <label class="col-sm-2 control-label">CATEGORY</label>
                    <div class="col-sm-10">
                        <select name="category" class="form-control" id="id_category">
                        </select>
                    </div>
                </div>
                <div class="form-group" id="subCatForm" urlz1="{% url 'ajax_load_sub_category' %}">
                    <label class="col-sm-2 control-label">SUB CATEGORY</label>
                    <div class="col-sm-10">
                        <select name="sub_category" class="form-control" id="id_subcategory">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">DESCRIPTION</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" name="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">PRICE ($)</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" value="0" name="price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                    <div class="col-10">
                        <input class="form-control" type="tel" value="5555555" id="phone_numer" name="phone_number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">STATE</label>
                    <div class="col-sm-10">
                        <select name="state" class="form-control" id="id_state">
                            <option value="">---------</option>
                            {% for state in states %}
                                <option value="{{ state.pk }}">{{ state.state }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">LOCATION</label>
                    <div class="col-sm-10">
                        <select name="location" class="form-control" id="id_location">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Street 1</label>
                    <div class="col-10">
                        <input class="form-control" type="text"  id="address_1" name="address_1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Street 2</label>
                    <div class="col-10">
                        <input class="form-control" type="text"  id="address_2" name="address_2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">PHOTO</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="photo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">STATUS</label>
                    <div class="col-sm-10">
                        <select name="status" class="form-control">
                            <option value="1">Active</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Publish Gig</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_state").change(function () {
            var url = $("#gigForm").attr("data-locations-url");  // get the url of the `load_cities` view

            var stateId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'state': stateId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_location").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>
    <script>

        (function () {
            var url = $("#catForm").attr("urlz");

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_category").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });
        })();

        $("#id_category").change(function () {
            var url = $("#subCatForm").attr("urlz1");  // get the url of the `load_cities` view

            var categoryId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'category': categoryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_subcategory").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>

{% endblock %}