{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
    <div class="card mb-4">
      <img class="card-img-top" src="{% static 'img/banner.gif' %}" alt="Card image cap">
    </div>

<div class="card-deck">
{% for gig in gigs %}
  <div class="card col-md-4">
      <a href="{% url 'gig_detail' gig.id %}"><img class="card-img-top" src="/media/{{ gig.photo }}" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">{{ gig.user.username }}</h5>
        <a href="{% url 'gig_detail' gig.id %}"><p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p></a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
    {% endfor %}
{#  <div class="card">#}
{#    <img class="card-img-top" src=".../100px200/" alt="Card image cap">#}
{#    <div class="card-body">#}
{#      <h5 class="card-title">Card title</h5>#}
{#      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>#}
{#      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#    </div>#}
{#  </div>#}
{#  <div class="card">#}
{#    <img class="card-img-top" src=".../100px200/" alt="Card image cap">#}
{#    <div class="card-body">#}
{#      <h5 class="card-title">Card title</h5>#}
{#      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>#}
{#      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#    </div>#}
{#  </div>#}

</div>
{#    <div class="row">#}
{#        <div class="card mb-1">#}
{#            <img src="{% static 'img/banner.gif' %}" alt="" class="card-img-top">#}
{#        </div>#}
{##}
{#        {% for i in '12345678' %}#}
{#            <div class="col-md-3">#}
{#                <div class="thumbnail">#}
{#                    <a href="{% url 'gig_detail' i %}"><img src="{% static 'img/gig.png' %}" alt=""></a>#}
{##}
{#                    <div class="caption">#}
{#                        <p><a href="{% url 'gig_detail' i %}">I will own the whole industry with python</a></p>#}
{#                        <p><span>by <a href="#">Cristian Silva</a></span><b class="green pull-right"></b></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-4 card">#}
{#                <a href="{% url 'gig_detail' i %}"><img class="card-img-top" src="{% static 'img/gig.png' %}"#}
{#                                                        alt="Card image cap"></a>#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Card title</h5>#}
{#                    <p><a href="{% url 'gig_detail' i %}">I will own the whole industry with python</a></p>#}
{#                    <p><span>by <a href="#">Cristian Silva</a></span><b class="green pull-right"></b></p>#}
{#                    <p class="card-text">#}
{#                        <small class="text-muted">Last updated 3 mins ago</small>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}